<div class="container">
	<br>
<!-- <h1>建國國中數資班圖書管理系統</h1> -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/book/">
			 <img src="/static/icon.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
			建國國中數資班圖書管理系統
		</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	 <div class="collapse navbar-collapse" id="navbarSupportedContent">
		 <ul class="navbar-nav mr-auto">

			<!-- <li class="nav-item active"> -->
				<a class="nav-link {% if request.path == '/book/' %}active{% endif %}" href="/book">總書目</a>
		{% if user.is_authenticated %}
			<!-- <li class="nav-item disable"> -->
					<a class="nav-link {% if request.path == '/book/rent/' %}active{% endif %}" href="/book/rent">借閱&歸還</a>
			<!-- </li> -->
					<a class="nav-link {% if request.path == '/book/history/' %}active{% endif %}" href="/book/history">借閱歷史</a>
					<a class="nav-link" href="/logout/">登出</a>
					<a class="navbar-text"><font color="green">歡迎 {{user.profile.real_name}} 同學</font></a>
		{% else %}
					<!-- <a class="navbar-text"><font color="red">登入後才能使用其他功能</font></a> -->
					<a class="nav-link {% if request.path == '/login/' %}active{% endif %}" href="/login/">登入</a>
					<a class="nav-link {% if request.path == '/register/' %}active{% endif %}" href='/register/'>註冊</a>
		{% endif %}
			</li>
		</ul>
	</div>
	</nav>
</div>
<br>
