{% extends 'main/base.html'%}
{% block content %}
{% if all_book_list %}
<table class="table" style="width:100%">
	<tr>
		<th>書名</th>
		<th>作者</th>
		<th>出版日期</th>
		<th>ISBN</th>
	</tr>
	{% for book in all_book_list %}
		{% if book.book_borrowid %}
		<tr data-toggle="tooltip" title="借閱人：{{book.book_borrowid}} {{ book.book_borrowname }}">
			<td><font color="green">{{book.book_title}}</font></td>
			<td><font color="green">{{book.book_author}}</font></td>
			<td><font color="green">{{book.book_pubtime}}</font></td>
			<td><font color="green">{{book.book_isbn}}</font></td>
		</tr>

		{% else %}
		<tr>
			<td>{{book.book_title}}</td>
			<td>{{book.book_author}}</td>
			<td>{{book.book_pubtime}}</td>
			<td>{{book.book_isbn}}</td>
		</tr>
		{% endif %}
		{% endfor %}

</table>
{% endif %}
{% endblock content %}
