{% extends 'main/base.html' %}

{% block content %}
  <h2>註冊</h2>
  <form method="post">
  		{% for field in form %}
  		{% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% endfor %}
		{% csrf_token %}
		<p>
			<label for="id_username">使用者名稱：</label><br>
				<input type="text" name="username" id="id_username" required maxlength="150" />
				<small style="color: grey">必要的。150 個字或更少，只包含字母、數字和 @/./+/-/_。</small>
		</p>
		<p>
			<label for="id_real_name">真實姓名：</label><br>
				<input type="text" name="real_name" id="id_real_name" required maxlength="5" />
				<small style="color: grey">例如：李杰穎</small>
		</p>
		<p>
			<label for="id_school_id">學號：</label><br>
			<input type="text" name="school_id" id="id_school_id" required maxlength="5" />
				<small style="color: grey">例如：41402</small>
		</p>
		<p>
			<label for="id_password1">密碼：</label><br>
			<input type="password" name="password1" id="id_password1" required />
				<small style="color: grey">密碼不能與其他個人資訊太相近。必須包含至少 8 個字元。不能使用常見的密碼。密碼不能完全是數字。</small>
		</p>
		<p>
			<label for="id_password2">密碼確認：</label><br>
			<input type="password" name="password2" id="id_password2" required />
				<small style="color: grey">為檢查用，請輸入與前面相同的密碼。</small>
		</p>

		<button class="btn btn-primary" type="submit">註冊</button>
</form>
{% endblock %}
