{% extends 'main/base.html' %}
{% block content %}
{% if messages %}
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
{% endif %}

{% if book_list %}
<table class="table-hover" style="width:100%">
	<tr>
		<th>書名</th>
		<th>作者</th>
		<th>出版日期</th>
		<th>ISBN</th>
	</tr>
	{% for book in book_list %}
		<tr>
			<td>{{book.book_title}}</td>
			<td>{{book.book_author}}</td>
			<td>{{book.book_pubtime}}</td>
			<td>{{book.book_isbn}}</td>
		</tr>
	{% endfor %}
</table>
	<form method="post">
	    {% csrf_token %}
			<input type="submit" class="btn btn-primary" value="確認借閱" />
	</form>
{% endif %}
{% endblock content %}
