{% extends 'main/base.html'%}
{% block content %}
<!-- 目前構想
isbn 欄位(每個人都不會亂借書)
登錄後自動填入班級座號姓名
設計可借閱多本書的類似表格的系統
自動判斷借閱或歸還
	 	-->
<!-- 刷入書籍 書籍isbn 出版日期 作者  -->
{% if messages %}
{% for message in messages %}
  <div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
  </div>
{% endfor %}
{% endif %}
<table class="table-hover" style="width:100%">
	<tr>
		<th>書名</th>
		<th>作者</th>
		<th>出版日期</th>
		<th>ISBN</th>
	</tr>
	{% for book in book_list %}
		{% if book.book_borrowid == user.profile.school_id %}
		<tr>
			<td><font color="green">{{book.book_title}}</font></td>
			<td><font color="green">{{book.book_author}}</font></td>
			<td><font color="green">{{book.book_pubtime}}</font></td>
			<td><font color="green">{{book.book_isbn}}</font></td>
		</tr>
		{% else %}
		<tr>
			<td>{{book.book_title}}</td>
			<td>{{book.book_author}}</td>
			<td>{{book.book_pubtime}}</td>
			<td>{{book.book_isbn}}</td>
		</tr>
		{% endif %}
	{% endfor %}

</table>
<br>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="btn btn-primary" value="送出" />
</form>
{% if book_list|length >= 1 %}
<input type="button" value='確認借閱&amp歸還' onclick="location.href='/book/rent/confirm'" class="btn btn-primary">
{% endif %}
<script>
	var input = document.getElementById("id_book_isbn");
	input.focus();
</script>
{% endblock content %}
